.profile__update {
  background-color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile__update {
    margin-bottom: 26px;
  }
}
