.profile__adit-button {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: inherit;
  margin-left: 18px;
  align-self: center;
  background-image: url(../../../images/pensil.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__adit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__adit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-left: 10px;
  }
}
