.profile__info {
  max-width: 580px;
  width: 100%;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    margin-left: 0;
  }
}
